<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <!-- Compiled and minified JavaScript -->
  </head>
  <body>
    {{{body}}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
  </body>
</html>
