// colors

$light-blue-1: #E1F5FE; // blue light03A9F4
$light-blue-2: #81D4FA; // green
$primary-blue: #03A9F4; // 
$dark-blue-1: #0277BD; // white
$white: #FAFAFA;

$border-color: #ddd;
// fonts 

$primary-font: 'Roboto';
$primary-font-color: black;
$muted: #757575;
$primary-font-weight: 400;
$bold-font-weight: 700;

$nav-height: 50px;
/*$modular-scale-ratio: $golden;*/

// panel size

$panel-width-S: 90%;
$panel-width-M: 60%;
$panel-width-L: 40%;
$panel-width-XL: 40%;

$padding-L: 30px;
$padding-M: 15px;
$padding-S: 8px;

$footer-height: 50px;

$success: #4caf50;
$danger: #f44336;
$warning: #f4511e;

