
@import '_bourbon';

@import '_variables'; 

@import '_mixins';

@import '_layout';

/* -------------------------------- 

Primary style

-------------------------------- */

*, *::after, *::before {
  box-sizing: border-box;
}

*::after, *::before {
  content: '';
}

body {
  color: $primary-font-color;
  background: $light-blue-1;
  margin-bottom: $footer-height;
  min-height: 50px;

  a {
    color: lighten($primary-blue, 10%);
    text-decoration: none;
    
    &:hover {
      color: $primary-blue;
      text-decoration: none;
    }
  }
}

footer {
  background-color: $white;
  color: $muted;
  position: fixed;
  left: 0;
  bottom:0;
  padding: $padding-S;
  width:100%;

  & .breadcrumb {
    background-color: $primary-blue;
    color: $dark-blue-1;
  }
}

nav {
  background-color: $primary-blue;
}

tile {
  position: fixed;
  z-index: 2;

  &.round-tile {
    & .next {
      margin-left: 10px;
      max-width: 60px;
      padding: 10px;
      border-radius: 30px;
      background-color: blue;
    }
    & .logo {
      @extend .next;
      background-color: #FFFFFF;
      top: 20;
    }
  }
}

td {
  vertical-align: middle;
  width: 100%;
  padding: 10px;

  & img {
    vertical-align: middle;
  }
}

.container {
  padding-bottom: 100px;
}


/* -------------------------------- 

Custom NH components 

--------------------------------*/
.embedded-video {
  @media(min-width: 600px) {
    width: 660px;
    height: 480px;
  }
  @media(max-width: 668px) {
    height: 200px;
    width: 320px;
  }
}

.padding {
  padding: 50px;
}

.next-btn-tile {
  @include transition(all, 1s);
  background-color: $light-blue-2;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  color: #ffffff !important;
  position: absolute;
  right:20px;
  bottom: 15px;
}

.padding-lg {
  padding: 30px;
}
.loading-message {
  color: #fff;
  font-size: 25px;
  font-weight: 300;
  font-family: sans-serif;
}

.sk-spinner-rotating-plane.sk-spinner {
  background-color: #fff;
}

.module-footer {
  display: block;
}

.done {
  background:green;
}

.fullScreen {
  height: 90%;
  width: 100%;
}

.uploadOption {
  height: 50px;
  text-align: center;
  margin: 20px;
  padding:5px;
}

.bottom {
  bottom: 0 !important;
}

#addModuleModal {
  height: 100%;
  width: 80%;
}
.margin-top {
  margin-top:20px;
}
.scrollBox {
  overflow-y:scroll;
  padding: 50px !important;
}
.file-input {
  margin-right: 10px;
  font-size:1em;
}

.align-left {
  align: left;
}
.noora-entry-logo {
  
  img {
    width:100%;
    height:100%;
  }
}
.response {
  width: 48%;
}

.module {
  height:100%;
}

.img-with-toasts-wrapper {
  position: relative;
  & > .inner-toasts-wrapper {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    & > .toast-overlay {
      @include transition(all, 0s);
      width:0%;
      margin-right: auto;
      margin-left:auto;
    } 
    & > .expand-toast {
      @include transition(all, 2s);
      width: 50%;
    }
  }
}

.module-wrapper {
  text-align:center;
  width: 100%;
}

.module-image {
  @media(max-width:600px) {
    height: 35vh;
  }
  @media(min-width: 600px){
    height: 50vh;
  }
  max-width: 100%;
}
.binary-image {
  height:40vh;
}

.padded {
  @media (max-width: 600px) {
    padding: 10px;
  }
  @media (min-width: 600px){
    padding: 40px;
  }
}

.padding-sm {
  padding: 5x;
}

.padding-bottom {
  padding-bottom: 10px
}
.padding-top {
  padding-top: 10px
}
.overlay {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:10;
}

.darken-overlay {
  @extend .overlay;
  background-color: rgba(0,0,0,.5);
}

.success-overlay {
  @extend .overlay;
  opacity: .7;
}

.response-sticker-container {
  position: fixed;
  margin-top: -25px;
  margin-left:-15px;
  width: 60px;
  height: 60px;
  z-index: 1;
  border-radius: 50px;
}
.sticker {
  width: 100%;
  height:100px;
  color: black;
}

.move-up-and-expand {
  @include transition(all, 1s);
  @include transform(scale(2));
  position: absolute;
  margin-top: -200px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  margin: 0;
}

.mc_submit_btn {
  width:100%;
}

.hidden-card, .hidden {
  /*@include transform(translate3d(0,-1000, 0));*/
  display: none;
}

.slide-down {
  @include transform(translate3d(0, 1000px,0));  
}

.module-card {
  perspective: 1100px;
  width: 100%;
  height: 100%;
}

.module-container {
  max-width: 850px;
  position: relative;
  width: 100%;
}

.flip-button-container {
  @include transform-style(preserve-3d);
  @include transition(.3s);
  height: 40px; 

  & a {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    letter-spacing: 2px;
    font-size: 20px;

    &.back {
      @include transform(rotateY(180deg));
    }
  }
}

.flipped {
  @include transform(rotateY(180deg));
}


.no-border {
  border: none;
}

.scenario-btn {
  margin: 4px;
}

.binary-btn, .scenario-btn {
  width: 200px;
  
  @media (max-width: 992px) {
    width: 150px;
  }
}

.radio-btn {
  padding: $padding-S;
}

.dotstyle {
  display: inline-block;
}

.dotstyle ul {
  position: relative;
  margin: 0 auto;
  width: 100%;
  padding: 0;
  list-style: none;
}

.dotstyle li {
  position: relative;
  display: block;
  float: left;
  margin: 0 5px;
  width: 16px;
  height: 16px;
  cursor: pointer;

  @media (max-width: 768px) {
    width: 10px;
    height: 10px;
    margin: 0 3px;
  }
}

.dotstyle li a {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 50%;
  background-color: $light-blue-2;
  text-indent: -999em;
  cursor: pointer;
  position: absolute;
}

.dotstyle-scaleup li a {
  -webkit-transition: -webkit-transform 0.3s ease, background-color 0.3s ease;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.dotstyle-scaleup li a:hover,
.dotstyle-scaleup li a:focus {
  opacity: 1;
  background-color: $light-blue-1;
}

.dotstyle-scaleup li.current a {
  background-color: $primary-blue;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.module-navigation-bar {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}

.add-margin {
  margin-bottom: 20px;
}

.panel > .panel-heading {
  background-color: $white;
}

.navbar {
  background-color: $primary-blue;
}

.middle {
  height: 100%;
  vertical-align: middle;
}
.padding-bottom-lg {
  padding-bottom: $padding-L;
}

.panel {
  background-color: $white;
}

.next-module-btn {
  @include transition(all, 1s);
  letter-spacing: 2px;
  font-size: 20px;
  width: 150px;
  margin-left: 100px;
  /*width: 100%;*/

  &:hover {
    background-color: lighten($light-blue-2, 30%);
  }
  @media(min-width: 600px) {
   width: 200px;
  }
  @media(max-width: 600px) {
    width:150px;
  }

}

.image-choice {
  width: 100%;
  cursor: pointer;
  height: 17vh;
}

.correctly_selected {
  @include transition-delay(.3s);
  @include transition(scale, 1s);
  border: 4px solid $success;
}

.selected{
  border: 4px solid $primary-blue;
}

.incorrectly_selected {
  @include transition-delay(.3s);
  @include transition(scale, 1s);
  border: 4px solid $danger;
}


.expanded {
  @include transition-delay(.3s);
  @include transition(scale, 2s);

  @media(min-width: 600px) {
    @include transform(scale(1.1)); 
  }
  @media(max-width: 600px) {
    @include transform(scale(1.2)); 
  }
}

.faded {
  @include transition-delay(.3s);
  @include transform(scale(.75));
  @include transition(2s);
  opacity: 0.5;
}

//CUSTOM CSS3 SLIDING PANELS
.slide {
  & img {
    width: 100%;
  }
}

video {
  width: 100%;
}

.section-panel {
  display: inline-block;
  width: $panel-width-S;
  background-color: $white;
  
  img {
    width: $panel-width-XL;
    padding: 5px;
    vertical-align: middle;
  }
  span {
    vertical-align: middle;
  }
}

.lesson-panel {
  background-color: $white;
  color: #333;
  border: 1px solid $border-color; 
  margin-left: auto;
  margin-right: auto;
  padding: $padding-S;

  img {
    width: 100%;
  }
}

.greyed-out {
  opacity: .75;
  -webkit-opacity: .75;
  -moz-opacity: .75;
}

.greyed-out:hover {
  opacity: 1;
  -webkit-opacity: 1;
  -moz-opacity: 1;
}

.chapter-card {
  padding: $padding-S;
  height: 100%;
  @media (min-width: 600px) {
    margin: 10px;
  }
}

/*@media (max-width: 768px) {*/
  /*.lesson-panel {*/
    /*max-width: 500px;*/
    /*font-size: 80%;*/
  /*}*/
/*}*/
.chapter-card-image {
  height: 75%;
  img {
    max-height:100%;
    max-width: inherit !important;
  }
}

/*@media (max-width: 992px) {*/
  /*.chapter-card-image {*/
    /*max-width: 400px;*/
    /*margin-right: auto;*/
    /*margin-left: auto;*/
  /*}*/

/*}*/
/*@media (min-width: 768px) {*/
  /*.lesson-panel {*/
    /*max-width: 700px;*/
  /*}*/
/*}*/

/* -------------------------------- 

Main components 

--------------------------------*/

html, body {
  height: 100%;
}

.cd-panel {
  position: fixed;
  z-index:2;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  @include transition(visibility 0s .6s);

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#000, 0);
    cursor: pointer;
    @include transition(background .3s .3s);
  }

  &.is-visible {
    visibility: visible;
    @include transition(visibility 0s 0s);

    &::after {
      background: rgba(#000, .6);
      @include transition(background .3s 0s);
    }

    .cd-panel-close::before {
      @include animation(cd-close-1 .6s .3s);
    }

    .cd-panel-close::after {
      @include animation(cd-close-2 .6s .3s);
    }
  }
}

@include keyframes(cd-close-1) {
  0%, 50% {
    @include transform(rotate(0));
  }

  100% {
    @include transform(rotate(45deg));
  }
}

@include keyframes(cd-close-2) {
  0%, 50% {
    @include transform(rotate(0));
  }

  100% {
    @include transform(rotate(-45deg));
  }
}

.cd-panel-header {
  position: fixed;
  padding-left: 15px;
  width: $panel-width-S; // variables inside partials > _variables.scss
  height: 50px;
  line-height: 50px;
  background: rgba($primary-blue, .96);
  z-index: 2;
  box-shadow: 0 1px 1px rgba(#000, .08);
  @include transition(top .3s 0s);

  h1 {
    color: lighten($primary-font-color, 16%);
    padding-left: 5%;
  }

  .from-right &, .from-left & {
    top: -50px;
  }

  .from-right & {
    right: 0;
  }

  .from-left & {
    left: 0;
  }

  .is-visible & {
    top: 0;
    @include transition(top .3s .3s);
  }

  @include MQ(M) {
    width: $panel-width-M;
  }

  @include MQ(L) {
    width: $panel-width-L;
  }
}

.cd-panel-close {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 60px;

  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;

  &::before, &::after {
    position: absolute;
    top: 22px;
    left: 20px;
    height: 3px;
    width: 20px;
    background-color: #333;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  &::before {
    @include transform(rotate(45deg));
  }

  &::after {
    @include transform(rotate(-45deg));
  }

  .no-touch &:hover {
    background-color: $primary-blue;

    &::before, &::after {
      background-color: $dark-blue-1;
      @include transition-property(transform);
      @include transition-duration(.3s);
    }

    &::before {
      @include transform(rotate(220deg));
    }

    &::after {
      @include transform(rotate(135deg));
    }
  }
}

.cd-panel-container {
  position: fixed;
  width: $panel-width-S;
  height: 100%;
  top: 0;
  background: $white;
  z-index: 1;
  @include transition-property(transform);
  @include transition-duration(.3s);
  @include transition-delay(.3s);

  .from-right & {
    right: 0;
    @include transform(translate3d(100%, 0, 0));
  }

  .from-left & {
    left: 0;
    @include transform(translate3d(-100%, 0, 0));
  }

  .is-visible & {
    @include transform(translate3d(0, 0, 0));
    @include transition-delay(0s);
  }

  @include MQ(M) {
    width: $panel-width-M;
  }

  @include MQ(L) {
    width: $panel-width-L;
  }
}

.cd-panel-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 70px 5%;
  overflow: auto;

  a {
    color: lighten($primary-font-color, 10%);
    text-decoration: none;
    
    &:hover {
      color: $primary-font-color;
      text-decoration: none;
    }
  }

  /* smooth scrolling on touch devices */
  -webkit-overflow-scrolling: touch;

  p, li {
    color: $primary-blue;
    line-height: 1.4;
    margin: 2em 0;

    &:first-of-type {
      margin-top: 0;
    }
  }

}
