/*@import '.meteor/local/build/programs/server/assets/packages/wolves_bourbon/bourbon/_bourbon';*/

@import '_bourbon';

@import '_variables'; 

@import '_mixins';

@import '_layout';

/* -------------------------------- 

Primary style

-------------------------------- */


body {
  color: $primary-font-color;
  background: $light-blue-1;
  margin-bottom: $footer-height;
  min-height: 50px;

  a {
    color: lighten($primary-blue, 10%);
    text-decoration: none;
    
    &:hover {
      color: $primary-blue;
      text-decoration: none;
    }
  }
}

html, body {
  height: 100%;
}

nav {
  background-color: $primary-blue;
}

.logo {
  float: right;
  padding-right: 15px;
}

.header {
  background-color: white;
  border-radius: 30px;
  padding: 10px;
  display: inline-block;
}

.lesson-image {
  width: 100%;
}

.lesson-thumbnail {
  display: inline-block !important;
  width: 100%;
}
